{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}

{{ define "main" }}

    <!-- 2カラム 上側 -->
    <!--
    <div id='main__inner__inner-top'>
      <div class='inner-block'>
        <div id='inner-top__ad-area'>

        </div>
      </div>
    </div>
    -->

    <!-- 2カラム 左側 -->
    <div id='main__inner__inner-left'>
      {{ if not .IsHome }}
        <div class='inner-block'>
          <header class='inner-block__title'>
            {{ .Title }}
          </header>
        </div>
      {{ end }}

      <!-- 記事一覧 -->
      <div class='inner-block'>
        <header class='inner-block__title'>
          INFORMATION
          <div class='inner-block__title__kana'>
            インフォメーション
          </div>
        </header>
        <!-- 記事リンク一覧 -->
        {{ range (.Paginate .Data.Pages).Pages }}
          {{ .Render "li" }}
        {{ end }}
        <!-- 次(前)のページ -->
        {{ partial "pagination.html" . }}
      </div>

      <div class='inner-block'>
        <header class='inner-block__title'>
          LINK
          <div class='inner-block__title__kana'>
            リンク
          </div>
        </header>
        <br>
        {{ with .Site.Params.author }}
          {{ with .facebook }}<a class='inner-left__link-area' href="{{ . }}" rel="nofollow" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>{{ end }}
          {{ with .twitter }}<a class='inner-left__link-area' href="{{ . }}" rel="nofollow" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>{{ end }}
          {{ with .github }}<a class='inner-left__link-area' href="{{ . }}" rel="nofollow" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>{{ end }}
        {{ end }}
      </div>

    </div>

    <!-- 2カラム 右側 -->
    <div id='main__inner__inner-right'>
      {{ partial "sidebar.html" . }}
    </div>
    
{{ end }}

