{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}

{{ define "main" }}

    <!-- 2カラム 左側 -->
    <div id="main__inner__inner-left">
      {{ if not .IsHome }}
        <p>{{ .Title }}</p>
      {{ end }}

      <!-- 記事一覧 -->
      <div class='inner-block'>
        <header class='inner-block__title'>INFORMARION</header>
        <!-- 記事リンク一覧 -->
        {{ range (.Paginate .Data.Pages).Pages }}
          {{ .Render "li" }}
        {{ end }}
        <!-- 次(前)のページ -->
        {{ partial "pagination.html" . }}
      </div>

    </div>

    <!-- 2カラム 右側 -->
    <div id="main__inner__inner-right">
      {{ partial "sidebar.html" . }}
    </div>
    
{{ end }}

