{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}

{{ define "main" }}

    <!-- 2カラム 左側 -->
    <div id="main__inner__inner-left">
      {{ if not .IsHome }}
        <p>{{ .Title }}</p>
      {{ end }}

      <!-- 記事一覧 -->
      <div class='inner-block'>
        <header class='inner-block__title'>INFORMARION</header>
        <!-- 記事リンク一覧 -->
        {{ range (.Paginate .Data.Pages).Pages }}
          {{ .Render "li" }}
        {{ end }}
        <!-- 次(前)のページ -->
        {{ partial "pagination.html" . }}
      </div>

      <div class='inner-block'>
        <header class='inner-block__title'>LINK</header>
          {{ with .Site.Params.author }}
            <!--
            <ul class="author-facts">
              {{ with .facebook }}<li><a href="{{ . }}" rel="nofollow" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>{{ end }}
              {{ with .twitter }}<li><a href="{{ . }}" rel="nofollow" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>{{ end }}
              {{ with .github }}<li><a href="{{ . }}" rel="nofollow" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>{{ end }}
              {{ with .mail }}<li><a href="{{ . }}" rel="nofollow" target="_blank"><i class="fa fa-envelope-square" aria-hidden="true"></i></a></li>{{ end }}
            </ul>
            <div class="author-description">{{ .description | safeHTML }}</div>
            -->
          {{ end }}
      </div>

    </div>

    <!-- 2カラム 右側 -->
    <div id="main__inner__inner-right">
      {{ partial "sidebar.html" . }}
    </div>
    
{{ end }}

