{{ define "title" }}{{ .Title }} | {{ end }}

{{ define "meta" }}
{{ range .AlternativeOutputFormats }}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}

  <!-- 2カラム 上側 -->
  <div id='main__inner__inner-top'>
    <div class='inner-block'>
      <nav id='inner-top__bread-crumb-area'>
        <a class='inner-top__bread-crumb-area__bread-crumb' href="{{ .Site.BaseURL }}">
          <i class="fas fa-home" aria-hidden="true"></i>
        </a>
        <span class='inner-top__bread-crumb-area__bread-crumb'>
          ＞
        </span>
        <span class='inner-top__bread-crumb-area__bread-crumb'>
          {{ .Title }}
        </span>
      </nav>
    </div>
  </div>

  <!-- 2カラム 左側 -->
  <div id="main__inner__inner-left">
    <div class='inner-block'>
      {{ .Render "summary" }}
    </div>
  </div>

  <!-- 2カラム 右側 -->
  <div id="main__inner__inner-right">
    {{ partial "sidebar.html" . }}
  </div>

{{ end }}
