{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}


{{ define "main" }}

  <div id="main__inner__inner-left--amp">

    {{ .Render "summary" }}

    <div class="adj">
      <div class="mrow">
        {{ with .Next }}
        <div class="mcol c6">
          <header>← PREV</header>
          {{ .Render "li_sm" }}
        </div>
        {{ end }}
        {{ with .Prev }}
        <div class="mcol c6">
          <header>NEXT →</header>
          {{ .Render "li_sm" }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  <div id="main__inner__inner-right--amp">
    {{ partial "sidebar.html" . }}
  </div>

{{ end }}
