<article class='article'>
  <header class='article__header'>

    <time datetime="{{ .Date.Format "2006-01-02T15:04:05JST" }}">
      {{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}
    </time>

    {{ $params := .Params }}
    {{ range $key, $value := $.Site.Taxonomies }}
      {{ if isset $params $key }}
        {{ range (index $params $key) }}
          <a  class="tag-{{.}}" href="{{ $.Site.BaseURL }}{{ $key | urlize }}/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
      {{ end }}
    {{ end }}

    <h1>{{ .Title }}</h1>
    <hr/>
    {{ partial "share.html" . }}

  </header>

  <div class='article__markdown'>
    {{ .Content }}
  </div>

  <footer class='article__footer'>
    <a href="{{ .Site.BaseURL }}">TOP</a>
  </footer>

</article>
