{{ with .Site.Params.author }}
<section class='inner-right__profile-area'>
  <a href="https://rm-js.com">

    {{ with .thumbnail }}
      <div class="inner-right__profile-area__image" style="background-image: url({{ $.Site.BaseURL }}{{ . }});"></div>
    {{ end }}
    <div class="inner-right__profile-area__name">{{ .name }}</div>
  
    <!--
    <ul class="author-facts">
      {{ with .facebook }}<li><a href="{{ . }}" rel="nofollow" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>{{ end }}
      {{ with .twitter }}<li><a href="{{ . }}" rel="nofollow" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>{{ end }}
      {{ with .github }}<li><a href="{{ . }}" rel="nofollow" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>{{ end }}
      {{ with .mail }}<li><a href="{{ . }}" rel="nofollow" target="_blank"><i class="fa fa-envelope-square" aria-hidden="true"></i></a></li>{{ end }}
    </ul>
    <div class="author-description">{{ .description | safeHTML }}</div>
    -->

  </a>
</section>
{{ end }}
