.l-header {
  height: 110px;
  box-shadow: 0px 9px 3px -3px rgba(128,128,128,0.5);
  background: linear-gradient(#0073c2, #02609F);
  padding: 0;
}
.l-header > .l-container {
  height: 100%;
}
.mrow{
  padding-top: 94px !important;
}
.l-footer {
  box-shadow: 0px 9px 3px -3px rgba(128,128,128,0.5);
  background: linear-gradient(#02609F, #0073c2);

}
.logo{
  padding-top: 25px;
}
.logo > a {
  color: #ddd;
}
.description{
  color: #ddd;
}


.posted-time {
  height: 12px;
  line-height: 12px;
  color: black;
  font-size: 12px;
  padding: 0 12px;
  display: inline-block;
  border: 1px solid #ccc;
}

.tags{
  height: 14px !important;
  line-height: 14px !important;
  color: #fff !important;
  font-size: 12px !important;
  padding: 0 12px !important;
  display: inline-block !important;
  border-radius: 0 !important;
  margin-left: -20px !important;
}

.tag-JavaScript{
  background: #FF85AD !important;
}
.tag-CSS{
  background: #FF9900 !important;
}
.tag-Python{
  background: #787FDC !important;
}
.tag-HTML{
  background: #E5457D !important;
}
.tag-Math{
  background: #56BF00 !important;
}
.tag-Others{
  background: #BA3CB8 !important;
}

.customtitle{
  color: #0475C2;
  font-size: 20px;
  height: 41px;
  line-height: 50px;
  border-bottom: 2.2px solid #0475c2;
  margin-bottom: 5px;
  font-family: serif !important;
  font-weight: bold !important; 
  display: inline-block;
  letter-spacing: 0 !important;
  margin-right: 30rem;
}


.customtitle::first-letter{
  font-size: 40px;
}

.latestbox{
  margin-top: 10px !important;
}

.lilatests{
  margin: 0 !important;
  border-radius: 0;
}


.latestbox .thumb{
  width: 4rem;
  height: 4rem;
  margin: .5rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.titlesm{
  color: #0099CC;
  font-weight: normal !important;
}

.author-thumb{
  border-radius: 0 !important;
  background-color: unset !important;
}

.c12{
  width: 100% !important;
  height: auto !important;
}

article.li{
  height: auto !important;
}


.article-body{
  min-height: 80vh;
}

.topcrumb{
  background: #0075C2;
  padding: 10px 5px 3px;
  height: 82px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.lilink{
  width: 100%;
  height: 100% !important;
  display: block !important;
}

.lititle{
  padding-top: 10px;
  font-weight: normal;
  color: #0099CC !important;
  font-size: 18px !important;
}

.singletitle{
  color: #18375A;
  font-size: 20px !important;
}

.singlehr{
  border-top: 1px solid #cfd8dc;
}

footer p, footer a {
  color: #ddd;
}

.policy{
  margin-bottom: 10px;
}