html {
  font-family: 'Roboto Slab','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,sans-serif;
}

body{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

{{ range $p := .Site.RegularPages }}
  {{ with $p.Params.thumbnail }}
    .image-{{ $p.File.UniqueID }} {
      background-image: url({{ . | absURL }});
    }
  {{ end }}
{{ end }}

/* 共通 */
a {
  text-decoration: none;
}
/* ヘッダー */
#header{
  width: 100%;
  height: 110px;
  box-shadow: 0px 9px 3px -3px rgba(128,128,128,0.5);
  background: linear-gradient(#0073c2, #02609F);
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: center;
}
  #header__link{
    width: 100%;
    height: 110px;
  }
    #header__link__title{
      font-size: 26px;
      font-weight: normal;
      color: #ddd;
      padding: 0;
      margin-bottom: 3px;
      letter-spacing: 1px;
    }
    #header__link__description{
      font-size: 16px;
      font-weight: normal;
      color: #ddd;
      letter-spacing: 1px;
    }

/* メイン */
#main{
  width: 1100px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  background: #fefefe;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
  box-sizing: border-box;
  padding: 40px;
}
@media (max-width: 675px) {
  #main{
    padding: 0;
  }
}
  #main__inner{
    width: 1020px;
    max-width: 100%;
    background: #F6F6F6;
    box-shadow: inset 1px 1px 2px hsla(0,0%,50.2%,.5);
    padding: 15px 15px 0;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: 675px) {
    #main__inner{
      padding: 0;
    }
  }
    /* 645px 15px 330px */
    /* メイン左側と右側 */
    #main__inner__inner-left{
      width: calc(100% - 330px - 15px); 
    }
    #main__inner__inner-right{
      width: 330px;
    }
    #main__inner__inner-top{
      width: 100%;
    }
    @media (max-width: 675px) {
      #main__inner__inner-left,
      #main__inner__inner-right{
        width: 100%;
      }
    }
    #main__inner__inner-left--amp{
      width: 100%;
    }
    #main__inner__inner-right--amp{
      width: 100%;
    }


/* トップ上部のスペース */
.inner-top__ad-area{
  width: 100%;
  height: 390px;
  background: #0073c2;
  border-radius: 5px;
}
@media (max-width: 675px) {
  .inner-top__ad-area{
    height: 185px;
  }
}
.inner-top__bread-crumb-area{
  width: 100%;
  height: 95px;
  background: #0073c2;
  border-radius: 5px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.inner-top__bread-crumb-area__bread-crumb{
  color: white;
  font-size: 12px;
  margin-right: 3px;
}

/* 一つのコンテンツのブロック */
.inner-block{
  width: 100%;
  background: #fefefe;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
@media (max-width: 675px) {
  .inner-block{
    margin-bottom: 0;
  }
}
  .inner-block__title{
    color: #0475C2;
    font-size: 20px;
    height: 26px;
    line-height: 26px;
    border-bottom: 2.2px solid #0475C2;
    font-family: serif;
    font-weight: bold;
    display: inline-block;
    letter-spacing: -.5px;
    margin-bottom: 8px;
  }
  .inner-block__title::first-letter{
    font-size: 36px;
  }

/* ホームの左側の記事一覧の1つ分 */
.inner-left__post-area{
  width: 100%;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
  padding: 5px 0;
  margin: 0;
}
  .inner-left__post-area__date{
    width: 87px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: black;
    font-size: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .inner-left__post-area__tag{
    width: 87px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    display: inline-block;
  }

  .inner-left__post-area__tag--JavaScript{
    background: #FF85AD;
  }
  .inner-left__post-area__tag--CSS{
    background: #FF9900;
  }
  .inner-left__post-area__tag--Python{
    background: #787FDC;
  }
  .inner-left__post-area__tag--HTML{
    background: #E5457D;
  }
  .inner-left__post-area__tag--Math{
    background: #56BF00;
  }
  .inner-left__post-area__tag--Others{
    background: #BA3CB8;
  }
  
  .inner-left__post-area__title{
    display: inline-block;
    line-height: 12px;
    color: #0099CC;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
    border-bottom: 1px solid transparent;
  }
  .inner-left__post-area__title:hover{
    border-bottom: 1px solid #0099CC;
  }

/* ページネーション */
.inner-left__pagenation-area{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 35px 0 10px;

}
  .inner-left__pagenation-area__button{
    width: 65px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    background: #0099CC;
    font-size: 10px;
    color: white;
    display: block;
  }

/* リンク */
.inner-left__link-area{
  width: 195px;
  height: 74.69px;
  line-height: 74.69px;
  display: inline-block;
  color: #ddd;
  background: #0475C2;
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 36px;
  margin: 0 7.5px 7px 0;
}

/* 記事ページ */
.article{
}
  .article__header{
  }
    .article__header__date{
      width: 87px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      color: black;
      font-size: 12px;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    .article__header__tag{
      width: 87px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      color: #fff;
      font-size: 12px;
      display: inline-block;
    }
    .article__header__tag--JavaScript{
      background: #FF85AD;
    }
    .article__header__tag--CSS{
      background: #FF9900;
    }
    .article__header__tag--Python{
      background: #787FDC;
    }
    .article__header__tag--HTML{
      background: #E5457D;
    }
    .article__header__tag--Math{
      background: #56BF00;
    }
    .article__header__tag--Others{
      background: #BA3CB8;
    }
    .article__header__title{
      color: #18375A;
      line-height: 1.5;
      font-size: 20px;
      border-bottom: 1px solid #ccc;
      margin: 25px 0 20px;
      padding: 0 5px 15px;
    }
    .article__header__shared-area{
      display: flex;
      justify-content: flex-end;
    }
      .article__header__shared-button{
        height: 20px;
        min-width: 20px;
        color: white;
        border-radius: 3px;
        margin-left: 4px;
        font-size: 12px;
        box-sizing: border-box;
      }
      .article__header__shared-button--fb{
        background: #4267B2;
        padding: 0 10px 2px;
      }
      .article__header__shared-button--twi{
        background: #0C7ABF;
        padding: 0 10px 2px;
      }
      .article__header__shared-button--line{
        color: #00B833;
        font-size: 22px;
        margin-top: -4.5px;
      }
  .article__markdown{
  }
    .article__markdown > h2{
      color: #18375A;
      font-size: 20px;
      margin: 100px 0 20px;
    }
    .article__markdown > h3{
      color: #18375A;
      font-size: 20px;
      margin: 100px 0 20px;
    }
    .article__markdown > p,
    .article__markdown li{
      font-size: 13px;
      line-height: 150%;
      margin: 15px 0;
    }
    .article__markdown > pre{
      background: #322931;
      padding: 20px 10px;
      box-sizing: border-box;
      font-size: 14px;
    }
    .article__markdown code{
      background: #eee;
    }
    .article__markdown pre code{
      color: #b9b5b8;
      background: #322931;
    }
    .article__markdown a{
      color: #0099CC;
    }
    .article__markdown a:hover{
      text-decoration: underline;
    }
      .article__markdown ol{
        counter-reset: olli;
        list-style-type: none;
      }
      .article__markdown ol :before{
        counter-increment: olli;
        content: counter(olli)'.';
        padding-right: 5px;
        font-weight: bold;
        color: #0073c2;
      }
      .article__markdown ul{
        list-style-type: none;
      }
      .article__markdown ul :before{
        content: '●';
        padding-right: 5px;
        font-weight: bold;
        color: #0073c2;
      }
      .article__markdown em,
      .article__markdown strong{
        background:linear-gradient(transparent 80%, #0099CC 20%);
        display:inline-block;
      }
      .article__markdown blockquote{
        border-left: 5px solid #ddd;
        padding-left: 10px;
      }

    .hljs{
      font-family: monospace;
      line-height: 180%;
    }
    .hljs-number{
      color: #fd8b19;
    }
    .hljs-params{
      color: #fd8b19;
    }
    .hljs-keyword{
      color: #c85e7c;
    }
    .hljs-title{
      color: #1290bf;
    }
    .hljs-function{
      color: #1290bf;
    }

  .article__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 100px 0 30px;
  }
    .article__footer__button{
      width: 65px;
      height: 21px;
      line-height: 21px;
      text-align: center;
      background: #0099CC;
      font-size: 10px;
      color: white;
      display: block;
    }
    .article__footer__button-wrapper{
      width: 65px;
    }
    .article__pagenation__latest-area{
      width: 100%;
      border-bottom: 1px dotted #ccc
    }
      .article__pagenation__latest-area__link{
        width: calc(100% - 64px);
        min-height: 68px;
        margin: 10px 0;
        padding-left: 64px;
        display: block;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 60px 60px;
        position: relative;
      }
      .article__pagenation__latest-area__link:hover{
        background-color: rgba(0, 153, 204, .1);
      }
      .article__pagenation__latest-area__link::before{
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        border: 1px solid #D1D7DE;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
      }
      .article__pagenation__latest-area__tags{
        color: #183759;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.4;
      }
      .article__pagenation__latest-area__time{
        color: #333;
        display: block;
        font-size: 11px;
        line-height: 1.4;
        margin-bottom: 5px;
      }
      .article__pagenation__latest-area__title{
        color: #0099CC;
        font-size: 12px;
      }
    

/* プロフィール */
.inner-right__profile-area{
  width: 143px;
  height: 143px;
  box-sizing: border-box;
  border: 1px solid #D1D7DE;
}
@media (max-width: 675px) {
  .inner-right__profile-area{
    margin: 0 auto;
  }
}
  .inner-right__profile-area__image{
    width: 143px;
    height: 121px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .inner-right__profile-area__name{
    width: 143px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    background: #0473C2;
    text-align: center;
    font-size: 14px;
  }


/* 最新の投稿 */
.inner-right__latest-area{
  width: 100%;
  border-bottom: 1px dotted #ccc
}
  .inner-right__latest-area__link{
    width: calc(100% - 64px);
    min-height: 68px;
    margin: 10px 0;
    padding-left: 64px;
    display: block;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 60px 60px;
    position: relative;
  }

  .inner-right__latest-area__link:hover{
    background-color: rgba(0, 153, 204, .1);
  }
  .inner-right__latest-area__link::before{
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid #D1D7DE;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
  }
  .inner-right__latest-area__tags{
    color: #183759;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
  }
  .inner-right__latest-area__time{
    color: #333;
    display: block;
    font-size: 11px;
    line-height: 1.4;
    margin-bottom: 5px;
  }
  .inner-right__latest-area__title{
    color: #0099CC;
    font-size: 12px;
  }

/* タグ */
.inner-right__tag-area{
  width: 147px;
  height: 50px;
  display: inline-block;
  margin: 5px 0;
  color: white;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
  .inner-right__tag-area--javascript{
    background: #FF85AD;
  }
  .inner-right__tag-area--css{
    background: #FF9900;
  }
  .inner-right__tag-area--python{
    background: #787FDC;
  }
  .inner-right__tag-area--html{
    background: #E5457D;
  }
  .inner-right__tag-area--math{
    background: #56BF00;
  }
  .inner-right__tag-area--others{
    background: #BA3CB8;
  }

  .inner-right__tag-area__name{
    margin-left: 5px;
  }


/* フッター */
#footer {
  box-shadow: 0px 9px 3px -3px rgba(128,128,128,0.5);
  background: linear-gradient(#02609F, #0073c2);
  padding: 20px 3%;
  font-size: 16px;

}
  .footer__policy{
    font-size: 12px;
    line-height: 2;
    margin-bottom: 20px;
    color: white;
  }
  .footer__rights{
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
  }
  .footer__links{
    color:white;
    text-decoration: underline;
  }