<!-- サイドバー PCだと右側、SPだと下側に来る部分-->
<!-- 作者 -->
<div class='inner-block'>
  <header class='inner-block__title'>
    AUTHOR
    <div class='inner-block__title__kana'>
      作者
    </div>
  </header>
  {{ partial "author.html" . }}
</div>
<!-- 最新の記事 -->
<div class='inner-block'>
  <header class='inner-block__title'>
    LATESTS
    <div class='inner-block__title__kana'>
      最新の記事
    </div>
  </header>
  {{ partial "latests.amp.html" . }}
</div>
<!-- タグ -->
<div class='inner-block'>
  <header class='inner-block__title'>
    TAGS
    <div class='inner-block__title__kana'>
      タグ
    </div>
  </header>
  {{ partial "tags.html" . }}
</div>