<div class='inner-block'>
  <header class='inner-block__title'>
      <div class='inner-block__title__kana'>
        作者
      </div>
    AUTHOR
  </header>
  {{ partial "author.html" . }}
</div>
<div class='inner-block'>
  <header class='inner-block__title'>
      <div class='inner-block__title__kana'>
        最新の記事
      </div>
    LATESTS
  </header>
  {{ partial "latests.html" . }}
</div>
<div class='inner-block'>
  <header class='inner-block__title'>
      <div class='inner-block__title__kana'>
        タグ
      </div>
    TAGS
  </header>
  {{ partial "tags.html" . }}
</div>